@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background: #333;
  padding: 1 rem;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 1 rem;
}

.hero {
  background: #f4f4f4;
  padding: 4rem 2rem;
  text-align: center;
}

.footer {
  background: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}
